@import url('https://fonts.googleapis.com/css?family=Abel|Macondo|Monoton|Philosopher:700');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color: #993300;
	font-family: 'Abel',sans-serif;
	font-size:16px;
}
.logo {
	font-weight: 500;
	font-family: 'Macondo',cursive;
	font-size: 85px;
	margin: .5em;
	color: #f9cf67;
}
header .logo {
	font-size:20px;
}
h1 {
	font-weight: 500;
	font-size: 28px;
	color: #0cf4e9;
}
h1 span {
	font-size:1.5em;
}
span {
	color: white;
	font-size: 36px;
}
p {
	color: #94f980;
}
ul {
	color: #0cf4e9;
	font-family: 'Monoton', cursive;
}
.description {
	background-color: #e89c6c;
	border: 1px black solid;
	padding: 20px;
	margin: 1em 0;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

#two_column {
	background-color: #ffb7cf;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: #e582a2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #e55b88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}