@import url('https://fonts.googleapis.com/css?family=Abel|Macondo|Monoton|Philosopher:700');
body {
	background-color: #993300;
	
}
h1, h3 {
	font-weight: 500;
	font-family: 'Macondo';
	font-size: 85px;
	margin: .5em;
	color: #f9cf67
}
h3 {
	font-weight: 500;
	font-family: 'Abel';
	font-size: 24px;
	line-height: .2em;
	margin: 2em;
	color: #0cf4e9
}

h2 {
	font-family: 'Abel';
	font-size: 36px;
	line-height: 1em;
	margin: 2em;
	color: #0cf4e9
}
p {
	font-family: 'Abel';
	font-size: 24px;
	line-height: 1.5em;
	margin: 2em;
	color: #a7f967
}
ul {
font-family: 'Monoton';
	font-size: 28px;
	line-height: 2em;
	margin: 3em;
	color: #0cf4e9
}
