@import url('https://fonts.googleapis.com/css?family=Abel|Macondo|Monoton|Philosopher:700');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	background-color: #4f2546;
	font-family: 'Abel',sans-serif;
	font-size:16px;
}
.logo {
	font-weight: 500;
	font-family: 'Macondo',cursive;
	font-size: 100px;
	margin: .5em;
	color: #f7ed38;
}

nav {
	background-color: #0bddf9;
	font-family: "Open-sans", sans-serif;
}

nav a {
	color: #000;
	text-decoration: none;
	display: inline-block;
	padding: .8em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

a:hover {
	background-color: #fff;
}

header .logo {
	font-size:1.2em;
}
h1 {
	font-weight: 500;
	font-size: 21px;
	color: #0cf4e9;
}
h1 span {
	font-size:1.5em;
}
span {
	color: white;
	font-size: 2em;
}
h2 {
	color: white;
	font-size: 1.2em;
}
p {
	color: #94f980;
}
ul {
	color: #0cf4e9;
	font-family: 'Monoton', cursive;
}
img {
	display: center;
	margin: 1.5em;
}
.description {
	background-color: #4f2546;
	padding: 5%;
	margin: 1em 0;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
#two_column {
	background-color: #4f2546;
	padding: 1%;
}
#left {
	background-color: #4f2546;
	padding: 2%;
	float: left;
	width: 49%;
}

#right {
	background-color: #4f2546;
	padding: 2%;
	float: right;
	width: 49%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.description2 {
	padding: 5%;
	margin: 0 auto;
}
footer {
	text-align: center;
	padding: 1em 0;
  clear: both;
}
#gallery img {
	float:left;
	padding:.25em;
	width:33.33%;
}
@media only screen and (max-width: 800px) {
  nav {
    float: none;
  	}
  nav a {
    	margin: 0 1.6em .75em 0;
 	 }
  }
