	h1, h3 {
	font-family: "Open Sans";
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	color: white;
}
h1, h3, p, ul ,li {
	color: white;
}
h3 {
	font-size: 36px;
}
h1 {
	font-size: 72px;
}
p{
	font-family: "Open Sans", monospace;
	color: white;
}
	body {
	background-color: #993300;
	}