	h1, h3 {
	font-family: "Open Sans";
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
	color: white;
}
h3 {
	font-size: 36px;
}
p{
	font-family: "Open Sans", monospace;
}
	body {
	background-color: #993300;
	}